h1 {
	text-decoration: overline;
}

body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #49274A;
	color: #EEEEEE;
	word-wrap: break-word;
	word-break: keep-all;


}

#root {
	background-color: #94618E;
}


.txtArea {
  padding: 60px;
  width: 110px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  background-color: #F1F8E9;
}

#offset {
	padding: 20px;
	width: 170px;
	text-align: center;
  	margin: auto;
  	background-color: #F1F8E9;
} 


.txtArea {
	color: #607D8B;
	font-family: Arial, Helvetica, sans-serif;
}


.button {
	padding: 10px 25px;
	font-size: 16px;
	border-radius: 15px;
	background-color: #F8EEE7;
	color: #49274A;
	cursor: pointer;


}
